
.detail{
    background-color: #00000000;
    border: collapse; 

}

.left {
    background-color: #B99976;
    font-family: monospace;
    font-size: small;
    font-weight: bold;
    color: #2a190a;
    width: 20%;
    height: 20px;
}

.right {
    background-color: #E5D3B3;
    font-family: monospace;
    font-size: small;
    color: #140d07; 
    width: 50%;
    height: 20px;
}
.container{
    width: max-content;
    height: max-content;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}
.column1{
    width: 65%;
    height: 800px;
    float: left;
    display:flex;
    padding:10px;
    margin:10px;
    padding-bottom: 10px;
    justify-content: left;
    align-items: left;
}

.frame{
    display: inline-block;
    position: relative;
}
.frame-image{
    height: 800px;
    width: 900px;
}
.inside-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 60%;
    padding-bottom: 5px;
    padding-right: 3px;
    background-position: center;
}


.column2{
    width: 35%;
    float: right;
    padding: 10px;
    margin: 10%;
    height: fit-content;
    border-radius: 15px;
    background-image: url(museummedia/paper.jpeg);
    border: black 5px;
    position: relative;
    justify-content: center;
}

#button{
    display: block;
    margin: 5% auto;
    height: 50px;
    width: 40%;
}

@media screen and (max-width: 1528px) {
    .container {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .column1,
    .column2 {
        float: left;
    }
}
